<hr />

<div id="sideForm">
    <h3>Join other side?</h3>
    <button type="submit" name="action" value="yes" id="yes" class="btn btn-danger">Yes</button>
    <button type="submit" name="action" value="no" id="no" class="btn btn-success">No</button>
</div>
