@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <div class="center">
        <img src="~/Content/404.png" alt="error" height="600" width="1000" />
    </div>
</body>
</html>